<app-default-login-layout
  mainTitle="Expense Manager"
  title="Inscreva-se e comece hoje!"
  primaryBtnText="Inscreva-se agora"
  secondaryBtnText="Entrar agora"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="name"
      inputName="nema"
      type="text"
      label="Nome"
    >
      <img src="/assets/svg/email-icon.svg">
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="email@gmail.com"
    >
      <img src="/assets/svg/email-icon.svg">
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha"
    >
      <img src="/assets/svg/password-icon.svg">
    </app-primary-input>
    <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirme sua senha"
    >
      <img src="/assets/svg/password-icon.svg">
    </app-primary-input>
  </form>
</app-default-login-layout>