.expense-list {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;

  overflow-y: auto;
  height: 100%;
  width: 100%;

  h3 {
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

    &.revenue {
      background-color: #e6f4e9;
      color: #2e7d32;
    }

    &.expense {
      background-color: #fdecea;
      color: #c62828;
    }

    .expense-info {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .expense-value {
        font-weight: bold;
        font-size: 1.2em;
      }

      .expense-details {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .description {
          font-size: 1em;
          font-weight: 600;
          color: #000;
        }

        .date {
          font-size: 0.8em;
          color: #888;
          margin-top: 5px;
        }
      }
    }
  }
}
